.bio_card {
    margin-top: 20vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    color: #f0f0f0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    user-select: none;
    margin: 20vh 8vw 0 8vw;
}

.bio_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.6);
}

.bio_card h2 {
    margin: 0;
}

.face {
    width: 120px;
    margin-top: none;
    display: block;
    margin-left: auto;
}

.flex {
    display: flex;
}

.socials {
    justify-content: end;
    gap: 16px;
    margin-top: 2rem;
}

.socials_icon {
    color: #ffffff;
    transition: text-shadow 0.3s ease;
    text-shadow: 0 2px 10px rgba(255, 255, 255, 0.08);
    width: 30px;
}

.socials_icon:hover {
    text-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
}

@media (max-width: 550px) {
    .face {
        width: 80px;
    }
}