.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    color: white;
    z-index: 1;
}

.center_aligned {
    align-self: center;
}

.svg_container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    fill: url(#curveGradient);
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    path {
        transition: .1s;
    }
}

.home {
    background: linear-gradient(to bottom, #0b0c1d, #1b1c32);
    position: relative;
    align-items: start;
    padding: 6rem;
}

.home_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-top: 4rem;
    margin-left: 6vw;
    text-shadow: 0 2px 10px rgba(255, 255, 255, 0.08);
}

.home_content h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 0;
    user-select: none;
}

.home_content h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    margin: 0 1rem;
    letter-spacing: 2px;
    user-select: none;
}

@media (max-width: 730px) {
    .home {
        padding: 0.5rem;
    }
}

@media (max-width: 550px) {
    .home {
        padding: 3rem;
    }

    .home_content h3 {
        font-size: 0.6rem;
        margin: 0 0.4rem;
    }
}

.tag_line {
    align-self: end;
}

.bio {
    background: linear-gradient(to bottom, #1b1c32, #303150);
    align-items: center;
    justify-content: start;
}

.projects {
    background: linear-gradient(to bottom, #303150, #60639f);
    align-items: center;
    justify-content: start;
}

.empty {
    background: linear-gradient(to bottom, #60639f, #8f92bc);
    align-items: center;
    justify-content: end;
}